/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-lgray: #f9f9f9;
  --main-dblue: #00004d;
}

body {
  font-family: "Giga Sans", 'Raleway', Monolith, Gilroy, Poppins, sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: .2rem;
  background-color: lightyellow;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #007bff;
  text-decoration: none;
}

.head {
  font-size: 1.3rem;
  line-height: 2;
  padding: 50px 10px;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  text-align: center;
}

.head h2 {
  text-shadow: 3px 3px 2px var(--main-white);
  color: #353935;
  line-height: 2.2;
  font-size: 3rem;
}

.pic-contain{
font-size: 1rem;
p
}
.spane{
  color: blue;
}
.pic-contain img {
  margin-bottom: auto;
  width: 100%;
  display: block;
  object-fit: cover;
  padding-top: 80px;
}

.review img{
  margin-bottom: auto;
  width: 80%;
  height: 10%;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  border-radius: 2%;
}

.review h2 {
  margin-left: 20px;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
  font-size: 70%;

}

.pic-contain h2{
  padding-top: 60px;
}
.pic-contain h3{
  padding-bottom: 60px;
}
/*.pic-contain iframe{
padding: 0 0 60px 0;
border: none;
height: 100vh;
width: 100%;
}*/

}

footer {
  background-image: linear-gradient(0deg, #AFE1AF -23.14%, #4CBB17 82.67%, #4CBB17 82.67%);
  color: #fff;
  font-family: "Giga Sans", 'Raleway', Monolith, Gilroy, Poppins, sans-serif;
  position: fixed;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;

}

footer>p {
  font-size: 1.1rem;
}

.last{
      padding: 20px;
}

section {
  flex: 1;
}
@media only screen and (max-width: 800px) {

.review > h2 {
  font-size: 1.2rem;
}


}
