:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-lgray: #f9f9f9;
  --main-dblue: #00004d;
  --main-whitcolor: #fff;
  --main-orangecolor: #B87333;
  --main-gblack: #353935;
  --main-rblack: #333;
  --main-mnblue: midnightblue;
  --main-greenshade: linear-gradient(to right, #074C00, #42A341, #B8E2A3);
}

/* Reset some default styles */
body, h1, h2, p, ul, li, form {
  margin: 0;
  padding: 0;
}

/* Apply a background color and set font styles */
body {
  font-family: "Giga Sans", 'Raleway', Monolith, Gilroy, Poppins, sans-serif;
  line-height: 1.6;
  background-color: #FFFFF7;
  color: var(--main-gblack);
  min-height: 100vh;
}

/* Header styles */
header {
  background-image: var(--main-greenshade);
  transition: transform 0.3s ease-out;
  color: var(--main-white);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: lighter;

}

header li:nth-child(6) {
  font-size: 1.2rem;
}

header img {
  height: 6rem;
  margin-left: 20px;
  margin-bottom: -7px;
}

.topnav {
  display: flex;
  margin-top: auto;
  z-index: 99999;

}

.topnav ul {
  list-style: none;
  display: flex;
}

.topnav ul li {
  margin-right: 20px;
  position: relative;
}

.topnav a {
  text-decoration: none;
  color: var(--main-whitcolor);
}

.topnav a:hover {
  color: var(--main-gblack);
}

/* Dropdown content */
.topnav ul li .dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: var(--main-greenshade);
  opacity: 0.8;
  padding: 10px -5px; /* Added padding for spacing */
  min-width: 148px;
  text-align: left;
  z-index: 999;
  border-radius: 3px;
}

.topnav ul li .dropdown-content li {
  padding: 10px 18px 5px 21px; /* Added padding to individual list items */
  margin: 5px 0; /* Added margin to create space between items */
}


/* Style for second-level dropdown (sub-menu) */
.topnav ul li .dropdown-content .dropdown .dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    top: -5px;
    background: var(--main-greenshade);
    opacity: 0.9;
    min-width: 130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
    border-radius: 5px;
}




.topnav ul li:hover .dropdown-content {
  display: block;
  
}

/* Submenu to the right (like Africa's submenu) */
/*
nav ul li li .dropdown-right li {
  padding-right: -35px;
  background-color: skyblue;
}
*/
.topnav ul li .dropdown:hover .dropdown-right {
  display: block;
}

/* Responsive hamburger icon */
.icon {
  display: none;
  cursor: pointer;
  order: 2;
}

/* Main styles */
main {
  padding: 10px;
  flex: 1;
  letter-spacing: .1rem;
}

/* About Us section styles */
.aboutUs {
  margin-bottom: 50px;
  padding: 10px;
  line-height: 2;
  font-size: 1.3rem;
  align-items: stretch;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
}

.aboutUs h2 {
  text-shadow: 3px 3px 2px var(--main-white);
  color: var(--main-gblack);
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

section.aboutUs h2.aboutHead {
  padding-top: 30px;
  text-align: center;
}


detaills {
  background-color: hsl(0deg 100% 95%);

}
details > summary {
  padding-left: 39%;
  
  padding-top: 30px;
  font-weight: 600;  
  text-shadow: 3px 3px 2px var(--main-white);
  color: #353935;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  cursor: pointer;

}


.pSpace {
  line-height: 2;
}

.contact-us {
  padding-top: 100px;
  padding-left: 20px;
}

.contact-us h2 {
  text-shadow: 3px 3px 2px var(--main-white);
  color: var(--main-black);
}

.contact-us ul {
  list-style: none;
}

.contact-us a {
  color: var(--main-mnblue);
  text-decoration: none;
}

/* Footer styles */
footer {
  background-image: var(--main-greenshade);
  color: var(--main-whitcolor);
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}

.last {
  text-align: center;
  text-shadow: 3px 3px 2px var(--main-white);
  color: var(--main-gblack);
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding-bottom: 100px;
  flex-wrap: wrap;
  text-shadow: none;
}

.contact-details {
  font-size: 1.7rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  color: var(--main-white);
}

.contact-details:hover {
  transform: translateY(8px);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
}

ul.para {
  list-style-type: none;
  padding-right: 30px;
}

.par {
  position: relative;
  left: 30px;
}

/* Scrolling Banner Styles */
.scrolling-banner {
  background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  color: white;
  padding: 10px 0;
  font-family: "Giga Sans", 'Raleway';
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
  z-index: -1;
  white-space: nowrap;
  }



.scrolling-banner pre {
  display: inline-block;
  font-weight: 600;
  animation: scroll-text 10s linear infinite;
  }

.scrolling-banner pre:hover {
  animation-play-state: paused;
}


span.rotate {
  display: inline-block;
  transform: scaleX(-1);


}

span.scroll {
  font-size: 2rem; 
}

span.bannerEmo{
  font-size: 2rem;
}
.cohort {
  
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #5e5368 74%);
  color: white;
  padding: 10px 0;
  font-family: "Giga Sans", 'Raleway';
  font-size: 1.2em;
  font-weight: bold;
  overflow: hidden;
  position: sticky;
  z-index: 1;
  white-space: nowrap;
}

.cohort a {
  text-decoration: none;
  font-size: 2.5rem;
}
@keyframes scroll-text {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}


/* Mobile Navigation */
@media only screen and (max-width: 800px) {
  .topnav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .topnav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background: var(--main-greenshade);
    position: absolute;
    top: 98px;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }

  
  
  
  .topnav.active ul {
    display: flex;
  }

  .topnav ul li {
    text-align: center;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    
  }

  
  .topnav ul li:last-child {
    border-bottom: none;
  }

  .topnav ul li .dropdown-content {
    position: sticky;
    width: 100%;
    display:none;
  }

  nav ul ul{
    margin-top: 15px;
    padding-bottom: 0;
        margin-bottom: -20px;
  }
  

  
.topnav ul li .dropdown-content li {
  padding: 15px 0 15px 0; /* Added padding to individual list items */
  margin-top:  0;/* Added margin to create space between items */
 }

nav ul li ul li{
  margin-top:  20px;/* Added margin to create space between items */
  padding: 0;
background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);

 }


.topnav ul li .dropdown:hover .dropdown-right {
  left: 0;
  }

.topnav ul li .dropdown:hover {
  margin-bottom: 133px;
  }
  
  
nav ul li li .dropdown-right li {
 
background-image: linear-gradient(to right, #040404, #000000, #656565);
  
  

  

  }
nav ul li li .dropdown-right {
  margin-top: 70px;
    display: none;
    position: absolute;

  }
  

  
  
  .icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: var(--main-white);
  }
  
  
}

@media only screen and (max-width: 920px) {
  .topnav ul li {
    font-size: 1.1rem;
  }

  .aboutUs h2 {
    font-size: 2rem;
  }
 body {
    text-align: justify;
    hyphens: auto;
  }
  
  details > summary {
    font-size: 1.8rem;
    padding-left: 2%;
    
  }
  

}