/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-lgray: #f9f9f9;
  --main-dblue: #00004d;
}

body {
  font-family: "Giga Sans", 'Raleway', Monolith, Gilroy, Poppins, sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: .2rem;
  background-color: #FFFFF7;
}

a {
  color: #007bff;
  text-decoration: none;
}

.head {
  font-size: 1.3rem;
  line-height: 2;
  padding: 50px 20px;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
}

.head h2 {
  text-shadow: 3px 3px 2px var(--main-white);
  color: #353935;
  line-height: 2.2;
  font-size: 3rem;
  text-align: center;
}

.head details > summary {
  text-align: left;
  padding: 1% 1% 1% 3%;
}

details p{
  padding-left: 6%;
}
details ul{
  padding-left: 6%;
}

details .para{
  padding: 1% 1% 1% 6%;
  
}

footer {
  background-image: var(--main-greenshade);
  color: #fff;
  font-family: "Giga Sans", 'Raleway', Monolith, Gilroy, Poppins, sans-serif;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto;
}

footer>p {
  font-size: 0.9rem;
}

@media only screen and (max-width: 800px) {
  .para {
    padding-bottom: 30px;
    padding-left: 10px;
  }

  .head h2 {
    font-size: 2rem;
  }
}
